:root{
    --operator-color: #ff9f0a;
    --number-background-color: #333333;
    --percentage-color: #a6a6a6;
    --number-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}
body{
    background-color: var(--number-background-color);
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    background-color: black;
    width: 250px;
    margin: auto;
    position: relative;
    padding-top: 60px;
}
input{
    outline: none;
    border: none;
    width: 100%;
    height: 100px;
    font-size: 50px;
    background-color: black;
    color: white;
    text-align: right;
}
.font{
    font-size: 25px;
}

#numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 10px;
    padding: 10px;
}
#numbers div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.sec-operator{
    background-color: var(--percentage-color);
    color: black;
}
.operator{
    background-color: var(--operator-color);
}
#zero{

}
.number{
    background-color: var(--number-background-color);
}
